{
  "openapi": "3.0.1",
  "info": {
    "title": "One Click Apply API"
  },
  "version": "1.0.0",
  "servers": [
    {
      "url": "https://api.redantai.com/"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Home endpoint",
        "responses": {
          "200": {
            "description": "Welcome message"
          }
        }
      }
    },
    "/api/v1/apps": {
      "get": {
        "summary": "Get all applications",
        "parameters": [
          {
            "in": "header",
            "name": "API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of applications",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Application"
                  }
                }
              }
            }
          },
          "403": {
            "description": "API key does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },    
    "/api/v1/app/{app_id}": {
      "get": {
        "summary": "Get details of a specific application",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "description": "ID of the application",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the application"
          },
          "403": {
            "description": "API key does not exist"
          }
        }
      }
    },
    "/api/v1/apply": {
      "post": {
        "summary": "Process incoming requests",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "job_link": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "resume": {
                    "type": "string"
                  }
                },
                "required": [
                  "job_link",
                  "content",
                  "resume"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "API-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application results"
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "API key does not exist"
          },
          "429": {
            "description": "Out of API credits"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  }
}