{
  "openapi": "3.0.1",
  "info": {
    "title": "One Click Apply API",
    "description": "An API for applying to any job",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.redantai.com/"
    }
  ],
  "paths": {
    "/api/v1/apps": {
      "get": {
        "description": "Returns all applications submitted through the user's API",
        "parameters": [
          {
            "name": "API-Key",
            "in": "header",
            "description": "User's API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Application"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/app/{app_id}": {
      "get": {
        "description": "Gets details of an application based on the ID supplied",
        "parameters": [
          {
            "name": "API-Key",
            "in": "header",
            "description": "User's API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "path",
            "description": "ID of application to get details",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apply": {
      "post": {
        "description": "Applies to job based on job link, resume, and user details",
        "requestBody": {
          "description": "Job to be applied to",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Apply"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "name": "API-Key",
            "in": "header",
            "description": "User's API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Application": {
        "required": ["app_id", "app_url", "status", "status_code", "time"],
        "type": "object", 
        "properties": {
          "app_id": {
            "description": "The ID of the application in our records.",
            "type": "integer"
          },
          "app_url": {
            "description": "The URL of the job applied to.",
            "type": "string"  
          },
          "status": {
            "description": "The status of the application. There are three possible values: `FAILED`, `SUCCESSFUL` and `RUNNING`.",
            "type": "string"
          },
          "status_code": {
            "description": "The status code of the application.",
            "type": "integer"
          },
          "time": {
            "description": "The timestamp of the application status.",
            "type": "string"
          }
        }
      },
      "Apply": {
        "allOf": [
          {
            "required": [
              "job_link",
              "resume",
              "content"
            ],
            "type": "object",
            "properties": {
              "job link": {
                "description": "Link to  job posting.",
                "type": "string"
              },
              "content": {
                "description": "User's information and custom information.",
                "type": "string"
              },
               "resume": {
                "description": "User's Resume.",
                "type": "string"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "status",
          "message"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
